body{
    background: #0288D1;
    color: white;
    font-size: 50px;
    text-align: center;
    text-shadow: 1px 3px 1px black;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 80%;
    height: 20%;
    margin: 0 auto;
    background: #e64a19;
    border-style: solid;
    border-color: #FF5722;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

nav{
    width: 80%;
    height: 10%;
    margin: 0 auto;
    font-size: 20px;
    background: #512DA8;
    border-style: solid;
    border-color: #9C27B0;
}
ul li{
    margin-right: 2%;
    margin-left: 1%;
    background: #03A9F4;
    width: 20%;
    display: inline-block;
    padding: 1%;
    border-style: solid;
    border-color: #0288D1;
    border-bottom-style: none;    
}
li a{
    color: white;
    text-decoration: none;
}
ul li:hover{
    background: #1976D2;
    width:20%;
    display: inline-block;
    padding: 1%;
    text-shadow: 1px -3px 1px black;
    border-style: solid;
    border-color: firebrick;
    border-bottom-style: none;
    transition-duration: .5s;
}
.active{
    background: #1976D2;
    width: 20%;
    display: inline-block;
    padding: 1%;
    text-shadow: 1px 3px 1px black;
    border-style: solid;
    border-color: firebrick;
    border-bottom-style: none;
}

section{
    
    width: 80%;
    height: 56%;
    background: white;
    margin: 0 auto;
}
article{
    width: 25%;
    height: 25%;
    margin-top: 10%; 
    margin-right: 3%;
    margin-left: 3%;
    font-family: 'Satisfy', cursive;
}


#uno{
    float: left;
    
background: #d32f2f ;
    text-shadow: 1px 3px 1px black;
    border-color: #F44336;
    border-style: solid;

}
#uno:hover{
    text-shadow: 1px -3px 1px black;
    background: #f44336;
    transition-duration: 1s;
    border-color: #d32f2f;
    border-style: solid;
}

#dos{
    float:left;
    background: #388E3C;
    border-color: #4CAF50;
    border-style: solid;
}

#dos:hover{
    text-shadow: 1px -3px 1px black;
    background: #4CAF50;
    transition-duration: 1s;
    border-color: #388E3C;
    border-style: solid;
}
#tres{
    float: left;
    background: #FFA000;
    border-color: #FFC107;
    border-style: solid;
}
#tres:hover{
    text-shadow: 1px -3px 1px black;
    background: #FFC107;
    transition-duration: 1s;
    border-color: #FFA000;
    border-style: solid;
}

footer{
    width: 80%;
    height: 10%;
    background: #e54a19;
    margin: 0 auto;
    border-color: #FF5722;
    border-style: solid;
}

